<div class="menu-contenu">
  <div class="menu-grille">
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>A propos de nous</h3>
        <a href="{% url 'apropos' %}"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Premiers pas</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Qualité</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Accessibilité</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Communication</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Réglementation</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Boîte à outils</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icone"></div>
      <div class="menu-texte">
        <h3>Archives</h3>
        <a href="#"></a>
        <p></p>
      </div>
    </div>
  </div>
</div>