{% load static %}
<link rel="stylesheet" href="{% static 'main/css/menu_deroulant.css' %}">

<div class="menu-contenu" align="center">
  <div class="menu-grille" align="center">

    <a href="/apropos/" class="menu-item">
      <img src="{% static 'main/images/icons/apropos.png' %}" alt="A propos" class="menu-icone">
      <div class="menu-texte">
        <h3>A propos</h3>
        <p>tout ce qu'il faut savoir</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/premierpas.png' %}" alt="Premier pas" class="menu-icone">
      <div class="menu-texte">
        <h3>Premier Pas</h3>
        <p>vous accompagner</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/qualite.png' %}" alt="Qualité" class="menu-icone">
      <div class="menu-texte">
        <h3>Qualité</h3>
        <p>Qualité de nos programmes...</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/communication.png' %}" alt="Communication" class="menu-icone">
      <div class="menu-texte">
        <h3>Communication</h3>
        <p>La communication, c'est la clé ...</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/accecibilite.png' %}" alt="Accessibilité" class="menu-icone">
      <div class="menu-texte">
        <h3>Accessibilité</h3>
        <p>Respect de la diversité, inclusion et accessibilité...</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/reglementation.png' %}" alt="Règlementation" class="menu-icone">
      <div class="menu-texte">
        <h3>Règlementation</h3>
        <p>Marcher selon les principes</p>
      </div>
    </a>

    <a href="#" class="menu-item">
      <img src="{% static 'main/images/icons/archive.png' %}" alt="Archives" class="menu-icone">
      <div class="menu-texte">
        <h3>Archives</h3>
        <p>Classement des publications par année, thème, auteur...</p>
      </div>
    </a>

  </div>
</div>
