.menu-contenu {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #ffffff;
}

.menu-grille {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  
  width: 100%;
  max-width: 800px;
  justify-items: center;
  gap: 2rem;
}


.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  /* border-left: 5px  #5d6cee; */
  /* border-radius: 10px; */
  padding: 1.5rem;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.menu-item:hover {
  transform: translateY(-3px);
}

.menu-icone {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.menu-texte h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #2c3e50;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-texte p {
  font-size: 0.95rem;
  color: #555;
}
